.btn-box {
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-box-show {
  margin-top: 30px;
  margin-left: 10px;
  .btn-card {
    margin-right: 10px;
  }
}

.btn-card {
  background-color: green;
  padding: 5px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.8;
  &:hover{
    color: white;
    opacity: 1;
  }
}

.btn-card-c {
  background-color: red;
  padding: 5px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.8;
  &:hover{
    color: white;
    opacity: 1;
  }
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

