
button.mercadopago-button {
  background-color: black;
  color: white;
  border: none;
  border-radius:3px;
  width: 220px;
  padding: 2px 2px;
  text-decoration: none;
  font-size: 22px;
  height: 60px;
   &:hover {
    text-decoration:none;
    background-color:#17202A;
    color:white;
  }
}

@media (max-width: 500px) {

  #title-terminos_condiciones {
    text-justify: auto;
    text-size-adjust: 10px;
  }
  #terminos_condiciones {
  display: none;
  }
 }

.img-card-pay {
  width: 19%;
  height: 40px;
  object-fit: cover;

}
.qr-img {
  width: 60%;
  height: 150%;
  object-fit: cover;
  margin-top: 20px;
}

#btn-download {
padding: 6px 26px;
}

.img-uber {

  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 50%;
}
