.greyscale {
  filter: grayscale(100%);
  opacity: 0.7;
}


@media (max-width: 500px) {

  #title-terminos_condiciones {
    justify-text: center;
  }
  #terminos_condiciones {
  display: none;
  }
 }
