
.cta-location-input::placeholder {
  background-color: white;
  padding: 5px 8px;
  border-radius: 5px;
  color:#CACACA;
}

.cta-location-input {
    margin-top: 8px;
    height: calc(3em + 0.75rem + 2px);
    padding: 0.375rem 1.5rem;
    box-shadow: 1px 2px 3px #dadada;
    line-height: 2;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 14px;
    color: $primary;
}

.cta-location-input:focus {
  box-shadow: none;
}

.location_submit {
  margin:10px;
  padding: 10px 30px;
  background-color:#596681;
  border-radius:3px;
  border: none;
  text-decoration: none;
  color:white;
  font-size: 22px;
  &:hover {
    text-decoration:none;
    background-color:#294683;
    color:white;
  }
}



  /// image cards
.images-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5%;
  opacity:0.5;

  img {
    width: 100%;
    object-fit: cover;
  }
}
// Para version mobile
@media (max-width: 520px) {

  .cta-location-input::placeholder {
    background-color: white;
    padding: 5px 8px;
  }

  .cta-location-input {
    margin-top: 8px;
    height: calc(3em + 0.75rem + 2px);
    padding: 0.375rem 1.5rem;
    box-shadow: 1px 2px 3px #dadada;
    line-height: 2;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 14px;
    color: $primary;
  }

  .cta-location-input:focus {
    outline: none;
    box-shadow: none;
  }
  .images-container {
    width: 90%;
  }
}
