<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 text-center border-top border-bottom">
  <div class="row">
    <div class="col-md-12">
      <div class=" py-5 d-flex justify-content-center">

        <div class="unit_size text-left">
          <h3>Nosotros</h3>
          <p>Empleo</p>
          <p>Noticias</p>
          <p>Politicas</p>
        </div>
        <div class="unit_size text-left">
          <h3>Descubrí</h3>
          <p>Vestidos</p>
          <p> Camisas</p>
          <p>Jeans</p>
        </div>
        <div class="unit_size text-left">
          <h3>Información</h3>
          <p>Condicines</p>
          <p>Privacidad</p>
          <p>Uso del sitio</p>
        </div>
        <div class="unit_size text-left">
          <h3>Seguinos</h3>
          <p>Instagram</p>
          <p>Facebook</p>
          <p>Twiter</p>
        </div>
      </div>
    </div>
  </div>
</footer>

