
<!-- HEADER STEP -->

<div class="step-by-step">
  <div class="number">
    <span>1</span>
  </div>
  <h2>Elegí la Categoría</h2>
  <p></p>
</div>

<!-- CARDS CATEGORY  -->

<div class="cards-bidding">
  <div class="card-bidding-category">
    <div>
      <img class="photo" src="https://gloimg.drlcdn.com/L/pdm-product-pic/Clothing/2018/10/12/goods-img-app/1539716058960958979.jpg" alt="vestidos">
    </div>
    <p>Category</p>
    <%= image_tag 'circle.png', class: 'circle'%>
    <!-- <i class="far fa-circle"></i> -->
    <!-- <i class="far fa-dot-circle"></i> -->
  </div>
</div>
<br>
<!-- CARD BRAND -->
<div class="cards-brand-ranking">
  <div class="card-brand-ranking">
    <div class="number">
      <span>1</span>
    </div>
    <div class="logo">
      <img src="https://conocedores.com/wp-content/uploads/2019/02/zara-new-logo-06022019in2.png" alt="logo">
    </div>
  </div>
</div>

<div class="cards-brand-ranking">
  <div class="card-brand-ranking">
    <div class="number">
      <span>1</span>
    </div>
    <div class="logo">
      <img src="https://canarywharf.com/wp-content/uploads/2013/11/Gap-5-1024x576-wpcf_741x417.jpg" alt="logo">
    </div>
  </div>
</div>

<div class="cards-brand-ranking">
  <div class="card-brand-ranking">
    <div class="number">
      <span>1</span>
    </div>
    <div class="logo">
      <img src="https://www.lafranquicia.es/wp-content/uploads/2016/01/hm-logo-1.jpg" alt="logo">
    </div>
  </div>
</div>
<br>
<br>
<br>
<%= link_to 'button', '#', class: 'button-general'  %>
<br>
<br>
<br>
