<h2>Home Page</h2>

<%= simple_form_for(@bidding) do |b| %>

  <%= b.input :amount %>
<% end %>
<%= link_to "Avanzar", category_biddings_path  %>
<div class="cards-brand-ranking">
  <div class="card-brand-ranking">
    <div class="number">
      <span>1</span>
    </div>
    <div class="logo">
      <img src="https://conocedores.com/wp-content/uploads/2019/02/zara-new-logo-06022019in2.png" alt="logo">
    </div>
  </div>
</div>

