.button-general {
  margin:0px;
  padding: 8px 50px;
  background-color:#596681;
  border-radius:3px;
  border: none;
  text-decoration: none;
  color:white;
  font-size: 22px;
  &:hover {
    text-decoration:none;
    background-color:#294683;
    color:white;
  }
}

.button-search {
  margin:0px;
  padding: 2.5px 50px;
  background-color:#596681;
  border-radius:3px;
  border: none;
  text-decoration: none;
  color:white;
  font-size: 22px;
  &:hover {
    text-decoration:none;
    background-color:#294683;
    color:white;
  }
}

#button-rounded {
  border-radius: 50%;
}


.select-color {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: unset;
  &.select-color-red {
    background-color: red;
  }
  &.select-color-blue {
    background-color: blue;
  }
}

#button-transparent {
  button {
    margin: 20px 0px;
    background-color: transparent;
    color:lightgray;
    border: 1px solid rgba(0,0,0, 0.2);
    padding: 0 20px;
    font-size:12px;
    &:hover {
    border: 1px solid rgba(0,0,0, 0.4);

    }
  }
}
#brand_ranks_submit {
  width: 30%;
}
