.user-form {
  background: white;
  padding: 20px 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid lightgray;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

#row-center {
  margin:0 auto;
}

// FORM INLINE
/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 1px solid #929292;
  background-color:white;
  font-family: 'Roboto', sans-serif;

}

/* Add some margins for each label */
.form-inline label {
  margin: 0px 10px;
  padding: 5px 0px;
  font-size:12px;
  text-align:left;
  width:auto;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 0px 10px;
  padding: 5px 0;
  background-color: #fff;
  border: none;
  border-right: 1px solid #929292;
  padding-right:15px;
  width:auto;

}
  textarea:focus, input:focus{
      outline: none;
  }


/* Style the submit button */
.form-inline button {
  padding: 3px 20px;
  background-color: #596681;
  color: white;
  border:none;
}

.form-inline button:hover {
  background-color: #294683;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
