#map {
  height: 10vh;
  position: sticky;
  top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0px;
  padding: 0px;
}

.mapboxgl-popup {
  max-width: 200px;
  background-color: rgba(0, 0, 0, 0.0);
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Rouge Script', sans-serif;
  color:#596681;
  box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.2);

  p {
    margin:0px;
    padding:0px;
  }
  h2 {
    margin:0px;
    padding:0px;
  }
}
