.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 2px;
  font-weight: lighter;
  transition: opacity 0.6s ease;
}

.navbar-logo {
  font-family:'Rouge Script';
  color:black;
  font-size: 45px;
  margin:0px;
  a {
    color:black;
    :hover {
      color:#17202A;
    }
  }
}

.not_at_index {
  border: 1px solid black;

}

.perchero {
  height: 35px;
  width: auto;
}
.color-black {
  color:black;
  font-weight:lighter;
  :hover {
    color:#17202A;
  }
}

.navbar {
  i {
    font-size: 28px;
  }
}


.space-navbar-banner {
}

 .exclusiva {
    right: 580px;
    top: 20px;
  }

.negative-margin {
  margin-bottom: -120px;
}


@media(max-width: 520px) {
     .exclusiva {
        position: relative;
    top: 0px;
    right: 10px;

  }
}

