.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 2px;
  font-weight: lighter;
  transition: opacity 0.6s ease;
}

.navbar-title {
  font-size: 28px;
}

.navbar {
  i {
    font-size: 22px;
  }
}


.space-navbar-banner {
  margin-top: 100px
}

 .exclusiva {
    position: absolute;
    right: 580px;
    top: 20px;
  }

@media(max-width: 520px) {
     .exclusiva {
        position: relative;
    top: 0px;
    right: 10px;

  }
  }
