
.unit_size {
margin: auto;
font-family: 'Roboto', sans-serif;
}

.page-footer{
  background-color: #f8f9fa;
}
.unit_size {
  p {
    color: lightgray;
  }
}

#footer-xl {
  background-color: #596681;


  p {
    color: white;
  }
}
